/* .logo {
  color: green;
} */

/* #my-link {
  color: red;
} */

/* a {
  color: fuchsia;
} */

/* input:focus {
  background-color: red;
}

input:disabled {
  background-color: green;
} */

[href^='http']::after {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;

  background-image: url('https://en.wikipedia.org/w/resources/src/mediawiki.skinning/images/external-ltr.svg?59558');
  background-repeat: no-repeat;
  background-position: right center;
  /* padding-right: 15px; */
}

/* * {
  color: yellow;
} */

/* p::first-letter {
  color: red;
  font-size: 3em;
}

::selection {
  background-color: black;
  color: white;
}

li a {
  color: lightblue;
}

nav a {
  color: yellow;
}

li > a {
  color: green;
}

li ~ li {
  color: fuchsia;
} */

/* h1 {
  background-color: hsl(360, 100%, 50%);
} */

/* input ~ p {
  color: #bada55;
} */

/* 
Selectors:

*                              0
E, ::pseudo-element            1
.class, .pseudo-class, [attr]  10
#id                            100


Combinators

(nothing) -> same element
' ' (space) -> any level descendent
> -> child, direct descendent
+ -> immediately preceding sibling
~ -> any preciding sibling

*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  margin: 0 auto;
  width: 960px;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
}

h1,
.site-footer,
.logo {
  /* font-weight: bold; */
  color: inherit;
  font-size: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.site-header {
  background: lightseagreen;
  text-align: center;
}

.site-container {
  display: flex;
}

/* 
Clearfix -> contain the floating elements
.site-container::after {
  content: '';
  display: table;
  clear: both;
} */

.site-container > * {
  flex: 0 0 200px;

  /* float: left;
  width: 33.33333333%; */
}

.content {
  flex-grow: 2;
  background: purple;
  padding: 0 1rem;
}

.site-footer {
  background: lightsteelblue;
}

.sidebar {
  background: lightsalmon;
}

.main-nav {
  background-color: blueviolet;
}
/* 
main,
nav,
aside {
  float: left;
} */ ;
